html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

html {
  box-sizing: border-box;
  font-family: Monaco, Verdana, sans, sans-serif;
}

body {
  background: #FFE545;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.content {
  padding: 30px;
  text-align: center;
}

#text {
  padding: 10px;
  font-size: 20px;
  width: 50%;
  border: none;
  box-shadow: 0.2px 1px 1px rgba(0,0,0,0.3);
  border-radius: 2px;
  background: #fff ;
}
  
#output {  
  width: 50%;
  display: inline-block;
  margin: 0px
}

#output li {
  text-align: left;
  padding: 10px;
  background: #FEFBAF;
  margin: 5px 0;
  box-shadow: 0.2px 0.5px 0.8px rgba(0,0,0,0.2);
  border-radius: 2px;
}

.code{
  color: #026475;
  font-weight: bold;
}

.letter {
  color: #C2A34F;
  font-weight: bold;
}

#text:focus {
  outline: none
}

@media (max-width:720px) {
  #output, #text {
    width: 100%;
  }
}